body {
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	font-weight: 400;
	background: none;
	background-size: cover;
	height: 100%;
}
.full {
	background: url(https://backgroundcheckall.com/wp-content/uploads/2017/12/web-development-background-5.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
}
strong {
	font-weight: 700;
}

a, a:hover {
	color: #fff;
	text-decoration: none;
}
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #333;
	z-index: 99999;
	height: 100%;
}
#status {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 64px;
	height: 64px;
	margin: -32px 0 0 -32px;
	padding: 0;
}

.coming-soon {
	padding-top: 60px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 40px;
	text-align: center;
	color: #fff;
}
.coming-soon h2 {
	font-size: 80px;
	font-weight: 700;
	text-shadow: 0 1px 7px rgba(0,0,0,.2);
	text-transform: uppercase;
	letter-spacing: -2px;
}
.coming-soon h3 {
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 10px;
	opacity: 0.3;
	margin-top: 40px;
}
.coming-soon p {
	margin-top: 20px;
	font-size: 20px;
	line-height: 36px;
	display: inline-block;
	background: rgba(45,45,45,.2);
	padding: 5px 10px;
	border-radius: 10px;
}
.counter {
	margin-top: 10px;
	text-shadow: 0 1px 5px rgba(0,0,0,.1);
}
.counter .days-wrapper, .counter .hours-wrapper, .counter .minutes-wrapper, .counter .seconds-wrapper {
	display: inline-block;
	width: 160px;
	height: 140px;
	margin: 0 10px;
	padding-top: 20px;
	background: #2d2d2d; /* browsers that don't support rgba */
	background: rgba(45,45,45,.5);
	font-size: 18px;
	-moz-border-radius: 80px;
	-webkit-border-radius: 80px;
	border-radius: 80px;
}
.counter .days, .counter .hours, .counter .minutes, .counter .seconds {
	font-size: 80px;
	line-height: 90px;
}
.subscribe {
	padding-top: 50px;
	text-align: center;
}
.subscribe h3 {
	font-size: 32px;
	font-weight: 400;
	color: #fff;
	line-height: 40px;
	display: inline-block;
	background: rgba(45,45,45,.3);
	padding: 10px 20px;
	border-radius: 10px;
}
.subscribe p {
	font-size: 18px;
	font-weight: 400;
	line-height: 36px;
}
.subscribe form {
	margin-top: 24px;
}
.subscribe form input {
	width: 310px;
	height: 46px;
	margin: 0;
	padding: 0 10px;
	background: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 46px;
	color: #777;
	border: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 3px;
}
.subscribe form input:focus {
	-moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
	-webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
}
 .subscribe form input:-moz-placeholder {
color: #888;
}
.subscribe form input:-ms-input-placeholder {
color: #888;
}
.subscribe form input::-webkit-input-placeholder {
color: #888;
}
.subscribe form button {
	width: 130px;
	height: 46px;
	margin: 0;
	padding: 0;
	background: #1BBC9B;
	border: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #fff;
	border-radius: 3px;
	text-shadow: 0;
}
.subscribe form button:hover {
	background: #16a084;
	color: #fff;
}
.subscribe form button:active {
	background: #1BBC9B;
	color: #fff;
}
.social {
	margin-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}
.social a i {
	display: inline-block;
	padding: 0 10px;
}
.social a i:hover {
	color: #1BBC9B;
}
.copyright {
	margin-top: 30px;
	text-align: center;
	margin-bottom: 20px;
	width: 100%;
}
.copyright a {
	border-bottom: 1px dotted #1BBC9B;
}

/***** Media Queries *****/

@media (min-width: 768px) and (max-width: 979px) {
.logo h1 {
	padding-left: 0;
}
.counter .days-wrapper, .counter .hours-wrapper, .counter .minutes-wrapper, .counter .seconds-wrapper {
	width: 140px;
	height: 120px;
	margin: 0 7px;
	padding-top: 20px;
	-moz-border-radius: 70px;
	-webkit-border-radius: 70px;
	border-radius: 70px;
}
.counter .days, .counter .hours, .counter .minutes, .counter .seconds {
	font-size: 60px;
	line-height: 70px;
}
}

@media (max-width: 767px) {
body {
	padding-left: 0;
	padding-right: 0;
}
.logo h1 {
	padding-left: 0;
	text-align: center;
}
.coming-soon h2 {
	font-size: 36px;
	padding: 0 20px;
}
.coming-soon p {
	padding: 0 20px;
}
.counter .days-wrapper, .counter .hours-wrapper, .counter .minutes-wrapper, .counter .seconds-wrapper {
	width: 140px;
	height: 120px;
	margin: 7px;
	padding-top: 20px;
	-moz-border-radius: 70px;
	-webkit-border-radius: 70px;
	border-radius: 70px;
}
.counter .days, .counter .hours, .counter .minutes, .counter .seconds {
	font-size: 60px;
	line-height: 70px;
}
.subscribe h3 {
	padding: 0 20px;
	font-size: 28px;
}
.subscribe p {
	padding: 0 20px;
}
}

@media (max-width: 480px) {
.subscribe form {
	padding: 0 20px;
}
.subscribe form input {
	width: 90%;
}
.subscribe form button {
	width: 90%;
	margin-top: 10px;
}
}

.span12 {
	width: 100%;
}